.app-wrapper {
	max-width: 90vw;
	height: 100vh;
	margin: 0 auto;
}

.app-wrapper__main-content {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
