.app-wrapper__nav-content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin-top: 20px;
	font-size: 24px;
	text-decoration: underline;
	font-weight: 600;
	color: black;
}
